header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li {
  display: inline;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

#about {
  display: flex;
  justify-content: space-around;
}

section {
  border: 1px solid red;
  height: auto;
  width: 100%;
}

#subjects {
  display: flex;
}

.subj-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

#subjects p {
  text-align: center;
}