header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li {
  display: inline;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

#about {
  display: flex;
  justify-content: space-around;
}

section {
  height: auto;
  width: 100%;
}

#subjects {
  display: flex;
}

.subj-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#subjects p {
  text-align: center;
}

#registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input, label {
  display:block;
}

.sub-button {
  display: flex;
  justify-content: center;
}

.subj-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ol {
  list-style: none;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-left: 1vw;
  margin-right: 1vw;
}

.contact-me {
  display: inline-flex;
}

ol li {
  display: inline-flex;
}

.email-li {
  padding-left: 10px;
}