body {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A68583;
  color: white;
}
h1 {
  padding-left: 1.25rem;
}

.title {
text-align: center;
padding-top: 20px;
margin-top: 0px;
}

main {
  max-width: 80vw;
  margin: auto;
  color: black;
}

ul li {
  display: inline;
  margin-left: 5rem;
  margin-right: 5rem;
  color: rgba(245, 245, 245, 0.801);
  padding: 5px;
}

ul li a:visited {
  color: rgba(245, 245, 245, 0.801);
  text-decoration: none;
}

ul li a:link {
  color: rgba(245, 245, 245, 0.801);
  text-decoration: none;
}

ul li a:hover {
  color: rgba(245, 245, 245, 0.801);
  text-decoration: none;
  border: 1px solid white;
}

#about {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
}

section {
  height: auto;
  width: 100%;
}

#subjects {
  display: flex;
  justify-content: space-between;

}

.subj-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  justify-content: space-around;
  margin: 20px;
}

#subjects p {
  text-align: center;
}

#registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E0766E;
  color: white;
  padding-bottom: 1vw;
}

input, label {
  display:block;
}

.sub-button {
  display: flex;
  height: 2rem;
  width: 4rem;
}

.subj-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5vw 0 1.5vw 0;
  margin-left: 20px;
}

ol {
  list-style: none;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A68583;
  height: 5vw;
  color: rgba(245, 245, 245, 0.801);
}

.contact-me {
  display: inline-flex;
}

ol li {
  display: inline-flex;
}

.email-li {
  padding-left: 10px;
}


input {
  width: 40vw;
}

textarea {
  width: 40vw;
  height: 2vw
}

img {
  border: 2px solid black;
}